.Cover-Letter{
    height: auto;
    position: relative;
    margin-top: $margin-top;
    margin-bottom: 2.5rem;
    overflow: hidden;
 
    &__left{
        @include columns(4, 12, 12, $grid-gutterless);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 100%;
   

    }
    &__right{
        min-height: 100%;
        img{
            width: 18rem;
            margin-bottom: 1.5rem;
            @media only screen and (max-width: $phone){ 
                @include center-block(2.5rem);
            }
        }
        @include columns(8, 12, 12, $grid-gutterless);
        border-left: 1px solid $color-gray-6;
        padding-left: 2.5rem;
        box-sizing: border-box;
        @media only screen and (max-width: $tablet){ 
            border: none;
        }
        @media only screen and (max-width: $phone){ 
            padding-left: 0;
        }
        // @media only screen and (max-width: $tablet){
        //     border: none;
        //     padding-left: 0;
        // }
    }
}


