.TextArea {
    .valid {
        background-color: $color-white;
        border: 1px solid $color-gray-2;
        color: $color-gray-7;
    }
    .invalid{
        background-color: $color-white;
        border: solid 1px $color-ios-red !important;
        &::placeholder{
            color: $color-ios-red !important;  
        }
    
    }
    &__error-message{
        font-size: 1.2rem;
        color: $color-ios-red;
     
    }
}