.Intro {
    margin: 0 auto;
    width: 35rem;
    height: 5rem;
    margin-top: 40vh;
    position: relative;
    perspective: 50rem;
    max-width: 100%;
    @media only screen and (min-width: 481px){ 
        width: 42rem;
    }
    &__side {
        width: inherit;
        height: inherit;
        position: absolute;
        transition: all .5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &--front {
            // code here.
            background-color: inherit;
        }
        &--back {
            transform: rotateY(180deg);
        }
    }
    &:hover{
        cursor: pointer;
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 96%;
    }
}
