.header{
        position: fixed;
        z-index: 5000;
}
.header__desktop{
    @media only screen and (max-width: $tablet){
        display: none;
     }
}
.header__oncanvas{
    clear: none;
    width: 6rem;
    background-color: $color-1;
    height: 100vh;
    max-height: 100vh;
    padding: .5rem;
    position: relative;
    transition: all .2s;
    text-align: center;
    box-sizing: border-box;
    z-index: 1000;
    img{
        
        margin: 2.5rem auto;
        max-width: 100%;
        width: 85%;
        cursor: pointer;

    }
    span{
        @include center-block;
        position: absolute;
        left: -5rem;
        top: 50%;
        font-size: 2.2rem !important;
        font-family: $font-main;
        transform: rotate(-90deg);
        &:hover{
            color: $color-2;
            cursor: pointer;
        }
    
    }
   
}
.header__offcanvas{
    position: relative;
    &__close-nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem !important;
        box-sizing: border-box;
        margin-bottom: 3.5rem !important;
        width: 100% !important;
        display: block;
        background-color: $color-black;
        span:nth-child(2){
            float: right;
            right: 1.5rem;
            cursor: pointer;
        }
     
        
      
    }
    box-sizing: border-box !important;
    margin: 0 !important;
    span{
        img {
            display: block;
            margin: 1.5rem auto;
            max-width: 100%;
            width: 85%;
        }
    }

    ul{
        width: 100%;
        margin-top: 3.5rem;
        box-sizing: border-box !important;
  
        padding: 0 !important;
        text-align: left;
        a{
            text-decoration: none;
            cursor: pointer;
        }
        li{
            
            box-sizing: border-box !important;
            width: 100%;
            cursor: pointer !important;
            padding: 1rem 0 !important;
            margin: 0px auto !important;
            list-style: none;
            font-family: $font-secondary;
            color: $color-white;
            transition: all .2s;
            &:hover{
                color: $color-3;
                transform: scale(1.05);
            }
    
        }
    }
    p{
        font-size: 1.3rem;
    }
    &__footer-info{
        position: absolute;
        bottom: 1.5rem;
        left: 0px;

        width: 100%;
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        button{
            @include center-block;
            width: 80%;
            background-color: $color-gray-6;
            border-radius: 4px;
            outline: none;
            border: none;
            padding: .2rem;
            color: $color-white;
            &:hover{
                background-color: $color-2;
            }

        }
    }
    .u-fine-text{
        margin: .5rem 0;
        text-align: center;
    }
}

.header__mobile{
    position: fixed;

    width: 100%;
    height: 6rem;
    max-height: 100vh;
    margin: 0px !important;
    z-index: 1000;
    @media only screen and (min-width: calc(#{$tablet} + 1px)){
        display: none !important;
    }
    &__left{
        img{
            @include pad-left;
            width: 5rem;
        }
    }
    &__center{
        span{
            font-family: $font-main;
            font-size: 1.7rem !important;
            text-align: center;
        }
    } 
}

.header__mobile__menu{
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    min-height: 100vh;

    overflow: hidden;
    background-color: rgba(0,0,0,.97);
    
    z-index: 999;

    padding-bottom: 0px;
    @media only screen and (min-width: calc(#{$tablet} + 1px)){
        display: none !important;
    }
    ul {
        position: fixed !important;
        display: block !important;
 
        // height: 100%;
        width: 100%;
        top: 25vh;
        padding: 0px !important;
        text-align: center;
  
       li{
        padding: 2rem 0;
        text-transform: uppercase;
        list-style: none;
        font-size: 2rem !important;
        font-family: $font-main;
        cursor: pointer;

        &:hover{
            color: $color-2;
      

        }

       }
    }
    
}

.burger-menu{
    color: $color-gray-5 !important;
}